@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap');

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #2196F1;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans SC', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media print {
  html, body {
    background-color: #fff;
  }
}

.CodeMirror-code.CodeMirror-code {
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans SC', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.CodeMirror-placeholder.CodeMirror-placeholder {
  /* font-size: 2.25rem; */
  color: #ccc !important;
}

.HyperMD-header.HyperMD-header-1.HyperMD-header.HyperMD-header-1::after,
.HyperMD-header.HyperMD-header-2.HyperMD-header.HyperMD-header-2::after
{
  height: 0;
}

.CodeMirror-hints {
  font-size: 1rem !important;
  z-index: 2000 !important;
}

.hmd-image {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px; /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
  background-color: rgba(150, 150, 150, .66);
  border: 4px solid rgba(150, 150, 150, .66);
  background-clip: content-box;
}

.float-win-hidden {
  display: none;
}